<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contributions</title>
    <style>
        row {
            display: flex;
            width: 300px;
            justify-content: space-between;
            margin-top: 15px;
        }

        button {
            font-size: 24px;
            width: 100px;
            margin-top: 20px
        }

        div {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            border: 2px solid blue;
            width: 400px;
            padding: 30px;
        }
    </style>
</head>

<body style="font-size:24px">
    <h1>Contribution</h1>
    <div>
        <row><span>First Name:</span> <input id="firstName" /></row>
        <row><span>Last Name:</span> <input id="lastName" /></row>
        <row><span>Amount:</span> <input type="number" id="amount" /></row>
        <row><span>From:</span> <input id="from" /></row>

        <button onclick="handleSubmit()">Submit</button>
    </div>
    <script>
        async function handleSubmit() {
            debugger;
            const firstName = document.getElementById("firstName").value;
            const lastName = document.getElementById("lastName").value;
            const amount = document.getElementById("amount").value;
            const from = document.getElementById("from").value;
            const body = JSON.stringify({ firstName, lastName, amount, from });
            const rawResponse = await fetch('/api/contribute', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body
            });
            const { response } = await rawResponse.json();
            console.log(response);
        }
    </script>
</body>

</html>