<!DOCTYPE html>
<html>

<head>
  <title>
    FlyThru IVT RSVP
  </title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" href="/images/favicon_io/favicon-16x16.png">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body id="body">
  <h1 id="page_title">FlyThru / IVT Reunion</h1>
  <div id="loading">
    <h2>Loading...</h2>
  </div>
  <form id="identify_person" action="">
    <ul>
      <li>
        <select id="person">
          <option value="">-- Please Choose: --</option>
        </select>
      </li>

    </ul>
    <img id="b787" src="/images/787.jpg" />
  </form>

  <form id="update_data" action="" style="display:none;">
    <span id="update_firstName"></span>, your email is <span id="update_email"></span>.
    <div class="flexrow">
      <div class="flexcol">
        <span><input id="update_yes" type="radio" name="response" value="yes">Yes - I will be there!</span>
        <span><input id="update_no" type="radio" name="response" value="no">No - I cannot make it.</span>
      </div>
      <img class="smimg" src="/images/ergo.jpg" />
    </div>
    <div id="update_id" style="opacity:0;"></div>
  </form>

  <h1 id="final"></h1>
  <div id="map">
    <p>Contributions to help with the facility rental and food, are happily accepted.</p>
    <a
      href="https://www.google.com/maps/place/Luther+Burbank+Park/@47.5906986,-122.228208,17.29z/data=!4m5!3m4!1s0x54906bbd64a0c10b:0xdc1969ecca221a66!8m2!3d47.5911806!4d-122.2256685">
      <h2>2040 84th Ave SE, Room #104, Mercer Island, WA 98040</h2>
      <img src="/images/map.jpg" />
    </a>
  </div>

  <script>
    const identify_person = document.getElementById("identify_person")
    const update_data = document.getElementById("update_data")
    const update_yes = document.getElementById("update_yes");
    const update_no = document.getElementById("update_no");
    const update_firstName = document.getElementById("update_firstName");
    const update_email = document.getElementById("update_email");
    const update_id = document.getElementById("update_id");
    const body = document.getElementById("body");
    const map = document.getElementById("map");
    const page_title = document.getElementById('page_title');
    const person = document.getElementById('person');
    const loading = document.getElementById('loading');

    person.addEventListener('change', pickPerson);
    update_yes.addEventListener('change', update_rsvp);
    update_no.addEventListener('change', update_rsvp);

    getNames();
    async function getNames() {
      loading.style.display = "block"
      const rawResponse = await fetch('/api/all');
      const content = await rawResponse.json();
      loading.style.display = "none"

      for (let p of content) {
        const { firstName, lastName, _id } = p;

        const option = new Option(`${lastName}, ${firstName}`, JSON.stringify(p))
        person.append(option);
      }
      identify_person.style.display = "flex";
    }
    async function pickPerson(e) {
      e.preventDefault();

      let { _id, email, firstName, lastName, response } = JSON.parse(person.value);

      identify_person.style.display = "none";
      update_data.style.display = "block";

      update_id.textContent = _id;
      update_email.textContent = email === '?' ? 'not known -- please tell us' : email;
      update_firstName.textContent = firstName;
      switch (response) {
        case '':
          break;
        case 'yes':
          update_yes.checked = true;
          update_no.checked = false;
          break;
        case 'no':
          update_no.checked = true;
          update_yes.checked = false;
          break;
      }
    }


    async function update_rsvp(e) {

      const _id = update_id.textContent;
      let rValue = null;
      if (update_yes.checked) rValue = 'yes';
      else if (update_no.checked) rValue = 'no';

      const rawResponse = await fetch('/api/updateRsvp', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ _id, response: rValue, date: new Date() })
      });
      const { response } = await rawResponse.json();
      const final = document.getElementById("final");
      if (response === 'yes') {
        update_data.style.display = "none";

        body.style.backgroundColor = 'lightgreen';
        final.textContent = "Fantastic. We'll see you on 25 March 2023."
        map.style.display = "flex";
        page_title.classList = "center";
      } else {
        final.innerHTML = "<span style='font-size:100px;'>&#128533;</span>&nbsp;  So sorry. You will be missed."
      }

    }
  </script>
</body>

</html>