<!DOCTYPE html>
<html>

<head>
    <title>
        FlyThru IVT RSVP
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/images/favicon_io/favicon-16x16.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body id="body" class="flexcol">

    <h1>FlyThru / IVT Reunion</h1>
    <h2>25 March 2023, Noon to 3pm</h2>
    <div id="loading">
        <h2>Loading...</h2>
    </div>
    <pid id="pid">
        <%= id %>
    </pid>

    <div id="update_data" style="display: none">
        <span id="update_firstName"></span>, your email is <span id="update_email"></span>.

        <div class="flexrow">
            <p style="font-size: 20px; margin-right: 20px;">R.S.V.P.</p>
            <div class="flexcol2">
                <span><input id="update_yes" type="radio" name="response" value="yes">Yes - I will be there!</span>
                <span><input id="update_no" type="radio" name="response" value="no">No - I cannot make it.</span>
            </div>
        </div>
    </div>
    <div id="neither" style="display: none">
        <div class="flexcol">
            <a href="https://www.google.com/maps/place/Luther+Burbank+Park/@47.5906986,-122.228208,17.29z/data=!4m5!3m4!1s0x54906bbd64a0c10b:0xdc1969ecca221a66!8m2!3d47.5911806!4d-122.2256685">
                <div class="flexcol">
                    <h2>2040 84th Ave SE, Room #104<br />Mercer Island, WA 98040</h2>
                    <img class="smallmap" src="/images/map.jpg" />
                </div>
            </a>
        </div>
    </div>

    <div id="yes" class="flexcol">

        <span style="font-size: 60px; color: red;">&#8252;&nbsp;Fantastic</span>
        <p style="font-size: larger;">Contributions are happily accepted to help with the expenses for the facility rental and food.<br />
            For Paypal, use my email:<br/>&nbsp;&nbsp;&nbsp;&nbsp;bob.abarbanel@gmail.com.
        <br /> For Venmo, use<br />&nbsp;&nbsp;&nbsp;&nbsp; @Robert-Abarbanel.  Thanks!</p>
        <a
            href="https://www.google.com/maps/place/Mercer+Island+Community+%26+Event+Center/@47.5900421,-122.2296491,17z/data=!3m2!4b1!5s0x54906bbd0cbfc341:0x53b1f622f0c2b6ab!4m5!3m4!1s0x54906bbda7d0161f:0x67df2451e251d6a2!8m2!3d47.5900421!4d-122.2274551">
            <div class="flexcol">
                <h2>Mercer Island Community & Event Center<br />2040 84th Ave SE, Room #104<br />Mercer Island, WA 98040</h2>
                <img src="/images/map.jpg" />
            </div>
        </a>

    </div>

    <div id="no">
        <span><span style='font-size:100px;'>&#128533;</span>&nbsp; So sorry. You will be missed."</span>
    </div>

    <script>
        const update_data = document.getElementById("update_data")
        const update_yes = document.getElementById("update_yes");
        const update_no = document.getElementById("update_no");
        const update_firstName = document.getElementById("update_firstName");
        const update_email = document.getElementById("update_email");

        const body = document.getElementById("body");
        const loading = document.getElementById('loading');
        const pid = document.getElementById('pid');

        const no = document.getElementById('no');
        const yes = document.getElementById('yes');
        const neither = document.getElementById('neither');

        function show_state(signal) {
            no.style.display = "none";
            yes.style.display = "none";
            neither.style.display = "none";
            if (signal === 'yes') {
                yes.style.display = "flex";
            } else if (signal === 'no') {
                no.style.display = "block";
            } else {
                neither.style.display = "flex";
            }
        }

        async function getPerson(id) {
            let rawResponse = await fetch(`/api/getRsvp?id=${id}`);
            let { email, firstName, lastName, response } = await rawResponse.json();
            loading.style.display = "none";
            update_email.textContent = email === '?' ? 'not known -- please tell us' : email;
            update_firstName.textContent = firstName;
            update_data.style.display = "block";

            display_response(response);

            update_yes.addEventListener('change', update_rsvp);
            update_no.addEventListener('change', update_rsvp);
        }

        function display_response(response) {
            switch (response) {
                case '':
                    break;
                case 'yes':
                    update_yes.checked = true;
                    update_no.checked = false;
                    break;
                case 'no':
                    update_no.checked = true;
                    update_yes.checked = false;
                    break;
            }
            show_state(response);
        }
        getPerson(pid.textContent.trim());

        async function update_rsvp(e) {
            e.preventDefault();
            const _id = pid.textContent.trim();
            let rValue = null;
            if (update_yes.checked) rValue = 'yes';
            else if (update_no.checked) rValue = 'no';

            const rawResponse = await fetch('/api/updateRsvp', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ _id, response: rValue, date: new Date() })
            });
            await rawResponse.json();
            display_response(rValue);

        }
    </script>
</body>

</html>