<!DOCTYPE html>
<html>

<head>
    <title>
        Report
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/images/favicon_io/favicon-16x16.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body id="body">
    <h1 id="page_title">FlyThru / IVT Reunion</h1>
    <table>
        <tr>
            <td>Yes</td>
            <td id="yes"></td>
        </tr>
        <tr>
            <td>No</td>
            <td id="no"></td>
        </tr>
        <tr>
            <td>Maybe</td>
            <td id="maybe"></td>
        </tr>
    </table>
    <script>

        getAll();
        async function getAll() {
            const rawResponse = await fetch('/api/count');
            const content = await rawResponse.json();
            console.log(content);

            // for(let tag of ['yes', 'no', 'maybe']) {
            //     console.log(tag, group[tag].length);
            //     document.getElementById(tag).value = group[tag].length;
            //     console.log(tag, document.getElementById(tag).value);
            // }
        }
    </script>
</body>

</html>